<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Интернет-магазин</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14" defer></script>
    <script src="scripts/main.js" defer></script>
</head>
<body>
    <div class="shop show_basket">
        <header class="header center">
            <form class="search" action="#" @submit.prevent="filter">
                <input class="search__input" type="text" placeholder="Фильтр" v-model="userSearch">
                <button class="search__btn" type="submit">Найти</button>
            </form>
            <button class="btn_cart" type="button" @click="showBasket=true">Корзина</button>
        </header>
        <main class="main">
            <section class="products center">
                <h1 class="products_title">Список товаров</h1>
                <div class="products_list">
                    <div class="product_item" v-for="product of filrerProducts" :key="product.id_product">
                        <img class="product_img" :src="imgCatalog" :alt="product.product_name" width="200">
                        <h3 class="product_title">{{ product.product_name }}</h3>
                        <p class="product_description">{{ product.price }}</p>
                        <button class="product_buy_btn" @click="addProduct(product)">Купить</button>
                    </div>
                </div>
                <button class="basket_close" type="button" @click="showBasket=false" v-show="showBasket"><span class="basket_x">+</span></button>
                <div class="basket_list" v-show="showBasket">
                    <div class="basket_item" v-for="baskProduct of basketProducts" :key="basketProducts.id_product">
                        <div class="basket_left">
                            <img class="basket_img" :src="imgBasket" :alt="baskProduct.product_name" width="200">
                            <h3 class="basket_title">{{ baskProduct.product_name }}</h3>
                        </div>
                        <div class="basket_right">
                            <p class="basket_description">{{ baskProduct.price }}</p>
                            <div class="basket_panel">
                                <button class="basket_btn basket_btn-minus" @click="removeProduct(baskProduct)">-</button>
                                <p class="basket_count">{{ baskProduct.quantity }}</p>
                                <button class="basket_btn basket_btn-plus" @click="addProduct(baskProduct)">+</button>
                            </div>
                            <p class="basket_all_price_product">Всего: {{ baskProduct.price * baskProduct.quantity }}</p>
                        </div>
                    </div>
                    <div class="space_in_basket">
                        <p class="space_in_basket__paragraph" v-if="!basketProducts.length">Корзина пуста</p>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
</html>
