* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.center {
  padding: 0 calc((100% - 1200px) / 2);
}

.header {
  height: 10vh;
  background-color: gray;
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn_cart {
  background-color: blueviolet;
  color: greenyellow;
  border: none;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 15px;
  font-size: 20px;
}

.btn_cart:hover {
  background-color: greenyellow;
  color: blueviolet;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.products {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: lightcyan;
}

.products_title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 40px;
}

.products_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.product_item {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #b0c4debf;
  padding: 15px 0;
  border-radius: 15px;
  margin: 0 10px 40px;
}

.product_item:hover {
  background-color: #b0c4de;
}

.product_img {
  width: 200px;
  margin-bottom: 5px;
}

.product_title {
  margin-bottom: 5px;
}

.product_description {
  margin-bottom: 5px;
}

.product_buy_btn {
  background-color: lavender;
  color: grey;
  border: none;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 15px;
  font-size: 20px;
}

.product_buy_btn:hover {
  background-color: grey;
  color: lavender;
}

.basket_close {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
  border: none;
  overflow: hidden;
}

.basket_close:hover {
  background-color: #0000005c;
}

.basket_x {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 100px;
  line-height: 50px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  color: #0000005c;
  font-weight: 100;
}

.basket_close:hover .basket_x {
  color: #efefef;
}

.basket_list {
  display: none;
  position: absolute;
  top: 5vh;
  left: 20vw;
  width: 60vw;
  height: 80vh;
  background-color: #efefef;
  border-radius: 30px;
  padding: 10px;
}

.basket_item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #efefef;
  background-color: #008000ba;
  padding: 15px 15px;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.basket_item:hover {
  background-color: #008000;
}

.basket_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.basket_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.basket_img {
  width: 50px;
  margin-right: 20px;
}

.basket_title {
  margin-right: 20px;
}

.basket_description {
  margin-right: 20px;
}

.basket_panel {
  width: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.basket_btn {
  width: 40px;
  height: 40px;
  background-color: lavender;
  color: grey;
  border: none;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 50%;
  font-size: 20px;
}

.basket_btn:hover {
  background-color: grey;
  color: lavender;
}
/*# sourceMappingURL=style.css.map */